<%= form_for(question) do |f| %>
  <div class="mdl-card__supporting-text">
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fullwidth">
        <%= f.label :title, :class => 'mdl-textfield__label'%>
        <%= f.text_field :title, :class => 'mdl-textfield__input'%>
    </div>
  
    <div class="mdl-textfield mdl-js-textfield fullwidth">
      <%= f.label :content, :class => 'mdl-textfield__label' %>
      <%= f.text_area :content, :class => 'mdl-textfield__input', placeholder: "Compose a question...", rows: "15" %>
    </div>
  </div>
  
  <div class="mdl-card__actions mdl-card--border">
    <%= f.submit :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'%>
    <%= link_to 'Cancel', questions_path, :class => 'mdl-button mdl-js-button mdl-js-ripple-effect'%>
  </div>
<% end %>

