<div class="our-mdl">
  
  <!-- Begin Question Section -->
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp question-section mdl-cell--10-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
          <h4><%= @question.title %></h4>
          <div class="markdown-body"><%= parse_markdown @question.content %></div>
      </div>
      <% if logged_in? and current_user.permission? :post_manage %>
        <div class="mdl-card__actions mdl-card--border">
            <%= link_to 'Edit', edit_question_path(@question), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' %>
            <%= link_to 'Delete', @question, :class => 'mdl-button mdl-js-button mdl-js-ripple-effect', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </section>
  
  <!-- Begin Answers Section -->
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp question-section mdl-cell--10-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone answer-section">
      <div class="mdl-card__supporting-text">
        <% if @question.answers.any? %>
          <h4>Answers (<%= @question.answers.count %>)</h4>
          <div class=" mdl-grid mdl-grid--no-spacing answer-grid">
            <%= render @answers %>
          </div>
        <% else %>
          <h4>No Answers. Be the first to help!</h4>
        <% end %>
      </div>
      <% if logged_in? and current_user.permission? :post %>
        <div class="mdl-card__actions mdl-card--border">
          <span class = "mdl-button new-answer-button">Create New Answer</span>
          <%= render 'answers/form' %>
        </div>
      <% end %>
    </div>
  </section>
  
</div>

<script>
  
  $( ".dismiss" ).click(function() {
    $(".dismiss").parent().parent().addClass("hidden");
  });
  
  $( ".new-answer-button" ).click(function() {
    
    $('.new-answer-button').hide();
    $('.answer-form').show(250);
    
    // $(".new-answer-button").addClass("hidden");
    // $(".answer-form").addClass("visible").removeClass("hidden")
  });
</script>

