
<div class="section__circle-container mdl-cell mdl-cell--1-col mdl-cell--2-col-phone center-this">
  <% if positive_rating answer.overall_rating %>
    <div class="its-a-circle im-green"><%= answer.overall_rating %></div>
  <% else %>
    <div class="its-a-circle im-red"><%= answer.overall_rating %></div>
  <% end %>
  <div class = "thumbs">
    <%= link_to upvote_question_answer_path(question_id: answer.question.id, id: answer.id), :class => "thumb-up",:method => :post do %>
      <i class="material-icons thumb">thumb_up</i>
    <% end %>
    <%= link_to downvote_question_answer_path(question_id: answer.question.id, id: answer.id), :class => "thumb-down",:method => :post do %>
        <i class="material-icons thumb">thumb_down</i>
    <% end %>
  </div>
</div>
<div class="section__text answer__text mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone answer-divs">
    <small>Posted <%= time_ago_in_words(answer.created_at) %> ago.</small>
    <div class="markdown-body"><%= parse_markdown answer.content %></div>
    <% if logged_in? and current_user.permission? :post_manage %>
      <button id="answer-menu-<%= answer.id %>" class="mdl-button mdl-js-button mdl-button--icon answer_dropdown">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="answer-menu-<%= answer.id %>">
        <%= link_to question_answer_path(answer.question, answer), method: :delete, data: { confirm: 'Are you sure?' } do%>
          <li class="mdl-menu__item">Delete</li>
        <% end %>
        <%= link_to edit_question_answer_path(answer.question, answer), data: {} do%>
          <li class="mdl-menu__item">Edit</li>
        <% end %>
      </ul>
    <% end %>
</div>