<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><a href="<%= root_path %>">NKUNet</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="<%= new_question_path %>">New Question</a>
      </nav>
      <form action="#" class="header-search">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="sample6">
            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
          </div>
        </div>
      </form>
    </div>
  </header>
  <div class="mdl-layout__drawer drawer">
    <span class="mdl-layout-title">
      <% if logged_in? %>
        <span class="username-display"><%= current_user.name %></span>
      <% else %>       
      <span class="drawer-title">NKUNet</span>
      <% end %>
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="<%= root_path %>"><i class="material-icons">home</i> Home</a>
      <a class="mdl-navigation__link" href="<%= new_question_path %>"><i class="material-icons">question_answer</i> New Question</a>
      <% if logged_in? and current_user.permission? :topic %>
        <a class="mdl-navigation__link" href="<%= new_topic_path %>"><i class="material-icons">create_new_folder</i> Create New Topic</a>
      <% end %> 
      
      <% if logged_in? %>
        <%= link_to current_user, class: "mdl-navigation__link" do %>
          <i class="material-icons">account_circle</i> Profile
        <% end %>
      <% end %> 
      
      
      <div class="drawer-separator"></div>
      <% if logged_in? %>
        <%= link_to logout_path, :method => :delete, :class => "mdl-navigation__link" do %>
          <i class="material-icons flipped">exit_to_app</i> Sign Out
        <% end %>
      <% else %>
        <%= link_to login_path, :class => "mdl-navigation__link" do %>
          <i class="material-icons">exit_to_app</i> Sign In
        <% end %>
      <% end %>
    </nav>
  </div>